

/* ################################### .section_room_info 제목 ######################################*/
.room_info {padding-bottom: 80px;}
.studio_info_contain  { width: 1300px; margin: 0 auto;}
.studio_info_contain > h2 {font-size: 45px; line-height: 45px; font-weight: 600; padding: 80px 0 20px 0; text-align: center;}

/* #################################### room, archives 분기점 ####################################*/
.studio_info_contain > div { width: 100%; text-align: center; font-size: 0;}
.studio_info_contain > div > div {display: inline-block; width: 600px; vertical-align: top; font-size: 16px;}
.studio_info_contain > div > div:nth-child(1) {margin-right: 100px;}
.studio_info_contain > div > div > h3 {border-bottom: 3px solid #602a19; font-size: 30px; line-height: 70px; text-align: center;}

/* #################################### room_list 전체적 구조 ####################################*/
.room_list > li {display: inline-block; vertical-align: top; width: 200px;}
.room_list > li > h4 { font-size: 20px; height: 60px; line-height: 60px; text-align: center; }
.room_list > li:nth-child(1) > h4 {border-bottom: 3px solid #602a19; }
.room_list > li > ul { width: 1300px; font-size: 0; margin-top: 20px;}
.room_list > li:nth-child(2) > ul{display: none; position: relative; top: 0; left: -200px;}
.room_list > li:nth-child(3) > ul{display: none; position: relative; top: 0; left: -400px;}
.room_list > li > ul > li {display: inline-block; width: 600px; vertical-align: top; font-size: 16px; border-radius: 10px; overflow: hidden}
.room_list > li > ul > li:nth-child(1) {margin-right: 100px;}
.room_list > li > ul > li > div {height: 600px;}
.room_list > li > ul > li > div > div > div > img {width: inherit; height: inherit; object-fit: cover; object-position: center; }
.room_list > li > ul > li > div > h5 {font-size: 40px; line-height: 40px; padding: 200px 20px 10px; text-align: start;}
.room_list > li > ul > li > div > h6 {font-size: 20px; padding: 20px; text-align: start;}
.room_list > li > ul > li > div > p {font-size: 18px; padding: 20px; text-align: start;}

/* #################################### archive_list 전체적 구조 ########################################*/
.archive_list > li {display: inline-block; vertical-align: top; width: 200px;}
.archive_list > li > h4 { font-size: 20px; height: 60px; line-height: 60px; text-align: center; }
.archive_list > li > ul { width: 1300px; font-size: 0; margin-top: 20px;}
.archive_list > li:nth-child(1) > ul{position: relative; top: 0; left: -800px;display: none; }
.archive_list > li:nth-child(2) > ul{position: relative; top: 0; left: -1000px;display: none;}
.archive_list > li > ul > li {display: inline-block; width: 600px; vertical-align: top; font-size: 16px; border-radius: 10px; overflow: hidden}
.archive_list > li > ul > li:nth-child(1) {margin-right: 100px;}
.archive_list > li > ul > li > div {height: 600px;}
.archive_list > li > ul > li > div > div > div > img {width: inherit; height: inherit; object-fit: cover; object-position: center; }
.archive_list > li > ul > li > div > h5 {font-size: 40px; line-height: 40px; padding: 200px 20px 10px; text-align: end;}
.archive_list > li > ul > li > div > h6 {font-size: 20px; padding: 20px; text-align: end;}
.archive_list > li > ul > li > div > p {font-size: 18px; padding: 20px; text-align: end;}

/* ################################# swiper + textBox slide*/
.slide_left{-webkit-animation:slide-left 1s cubic-bezier(.25,.46,.45,.94) both;animation:slide-left 1s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes slide_left {
    0% {-webkit-transform: translateX(300px);transform: translateX(300px);}
    100% {-webkit-transform: translateX(0);transform: translateX(0)}
}
@keyframes slide-left{
    0%{-webkit-transform:translateX(300px);transform:translateX(300px)}
    100%{-webkit-transform:translateX(0);transform:translateX(0);}
}
.slide_right{-webkit-animation:slide-right 1s cubic-bezier(.25,.46,.45,.94) both;animation:slide-right 1s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes slide_right{
    0%{-webkit-transform:translateX(-300px);transform:translateX(-300px)}
    100%{-webkit-transform:translateX(0);transform:translateX(0)}
}
@keyframes slide-right{
    0%{-webkit-transform:translateX(-300px);transform:translateX(-300px)}
    100%{-webkit-transform:translateX(0);transform:translateX(0)}
}




/*########## card*/
.add_info{background-color: #f6f6f6;}
.add_info_contain {width: 1300px; padding-bottom: 150px; margin: 0 auto;}
.add_info_contain > h2 {line-height: 1.5em; font-size: 40px; padding-top: 80px; font-weight: 900; text-align: center;}
.add_info_contain > p {padding: 30px 0 80px 0; line-height: 1.5em; font-size: 18px; text-align: center; color: darkgrey}
.card_contain {width: 1300px; text-align: center; font-size: 0; }
.card { margin-right: 125px; display: inline-block; font-size: 16px; width: 350px; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.176) 20px 20px 30px 0; vertical-align: top; background-color: white}
.card:nth-child(3) {margin: 0;}
.card img { padding: 0 60px; width: inherit; height: inherit; object-fit: cover; object-position: center;}
.card h3 {font-size: 22px; text-align: center; padding: 10px 0;}
.card p {font-size: 16px; line-height: 28px; display: inline-block; vertical-align: bottom; padding: 10px 20px 30px; height: 150px;}

/*########## location*/
.location_contain {width: 1300px; padding: 0 0 140px 0; margin: 0 auto;}
.location_contain > h2{line-height: 1.5em; font-size: 40px; padding: 80px 0 20px; font-weight: 900; text-align: center;}